/*===================== PRODUCTS GLOBAL ========= */
.product__image {
  width: 100vw;
  height: 192px;
}
.product__image img {
  width: 100vw;
  height: 100%;
}
.product__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.product__title {
  font-size: 22px;
  font-weight: 500;
}
.product__price {
  font-weight: bold;
}
.product__description {
  font-size: 14px;
}
.products__title {
  padding: 1rem 0;
}
.products__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.products__card:nth-child(5),
.products__card:nth-child(6) {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.products__card,
.card__image {
  width: 100%;
}
.products__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card__title {
  font-size: 14px;
  font-weight: 600;
}
.card__price {
  font-weight: 700;
}
.card__link {
  font-size: 14px;
  color: var(--blue-400);
  font-weight: 700;
}

/*===================== RESPONSIVE ========= */
@media (min-width: 650px) {
  .card__link {
    font-size: 1rem;
  }
  .products__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .products__title {
    font-size: 2rem;
  }
  .products:first-child {
    padding-top: 4rem;
  }
  .products:last-child {
    padding-bottom: 4rem;
  }
  .products__card:nth-child(5),
  .products__card:nth-child(6) {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .products__cards {
    grid-template-columns: repeat(6, 1fr);
  }
}